@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF4D2A;
  --secondary-white: #ffffff;
  --secondary-brown: #401801;
  --accent-dark-gray: #181819;
  --font-primary: 'Space Grotesk';
  --font-secondary: 'Montserrat';
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    overflow-x: hidden;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
 

}

.newsletter-bg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
              linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid;
  border-image-source: linear-gradient(165.4deg, #FFFFFF -10.07%, rgba(255, 255, 255, 0) 89.61%);
  backdrop-filter: blur(24px);
}


.glass-bg {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(155, 155, 155, 0.192) 0%,
    rgba(80, 80, 80, 0.13) 60%,
    rgba(32, 32, 32, 0.1) 100%
  );
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 2.5px solid rgba(128, 128, 128, 0.692);
  color: white;
  box-shadow: 2px 2px 30px 4px rgba(129, 129, 129, 0.226) inset;       /* Outer drop shadow */
   
}

.flat-glass-bg {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.192) 0%,
    rgba(255, 255, 255, 0.13) 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 2.5px solid rgba(128, 128, 128, 0.692);
  color: white;     /* Outer drop shadow */
   
}

.radial-gradient {
  border-radius: 50%; /* Ensures the gradient is perfectly circular */
  background: radial-gradient(circle, 
  rgba(228, 105, 74, 0.582) 0%,
  rgba(216, 98, 43, 0.3) 50%,
  rgba(27, 27, 27, 0) 100%);
}

.glass-bg-dark {
  position: relative;
  background: rgba(0, 0, 0, 0.555) 100%;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 2.5px solid rgba(128, 128, 128, 0.692);
  color: white;     /* Outer drop shadow */
   
}

.glass-bg-light {
  position: relative;
  /*background: rgba(141, 141, 141, 0.555) 100%;*/
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  color: white;     /* Outer drop shadow */
   
}


.gradient-text {
  font-weight: bold;
  background: radial-gradient(circle, #FFFFFF, #71717A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Required for WebKit browsers */
  background-clip: text; /* Standard property */
}

.radial-gradient-custom {
  border-radius: 50%; /* Ensures the gradient is perfectly circular */
  background: radial-gradient(circle, 
  rgba(255, 78, 42, 0.918) 0%,
  rgba(255, 59, 25, 0.178) 50%,
  rgba(255, 0, 0, 0) 100%);
}

.radial-gradient-red-light {
  border-radius: 50%; /* Ensures the gradient is perfectly circular */
  background: radial-gradient(circle, 
  rgba(245, 45, 45, 0.527) 0%,
  rgba(255, 59, 25, 0.178) 50%,
  rgba(255, 0, 0, 0) 100%);
}


.radial-gradient-blue {
  border-radius: 50%; /* Ensures the gradient is perfectly circular */
  background: radial-gradient(circle, 
  rgb(0, 115, 255) 0%,
  rgba(0, 115, 255, 0.205) 50%,
  rgba(255, 0, 0, 0) 100%);
}



.radial-gradient-purple {
  border-radius: 50%; /* Ensures the gradient is perfectly circular */
  background: radial-gradient(circle, 
  rgba(112, 79, 242, 0.877) 0%,
  rgba(112, 79, 242, 0.349) 50%,
  rgba(255, 0, 0, 0) 100%);
}

.btn-3d {
  background: radial-gradient(circle at 50% 30%, #e94640ec, #ff1400); /* Radial gradient for a shiny effect */
  color: rgb(255, 255, 255);
  border-radius: 50px; /* Makes it oval */
  cursor: pointer;
  box-shadow: inset 0 4px 6px ;
           
  transition: all 0.2s ease-in-out;
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation:  10s scroll linear infinite;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.paused {
  animation-play-state: paused !important;
}


.gradient-border {
  border-image: linear-gradient(45deg, rgb(0, 115, 255), rgba(245, 45, 45, 0.952)) 1;
}

@media (max-width: 850px) {
  .tablet-hidden {
    display: none !important; 
  }


  .tablet-block {
    display: block !important; 
  }
}

.icon {
  transition: 200ms ease-in-out;
}

.icon:hover {
  transform: translateY(-5px); /* Tailwind's hover:translate-y-[-5px] */

}